.container {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.dropzone {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    text-align: left;
}

.dropzone p {
    text-align: center;
    padding: 12px;
    border: 2px dashed #ddd;
    border-radius: 5px;
    background-color: white;
    color: #999;
}

.dropzone label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.img_container {
    width: 600px;
    height: 400px;
}

.dropzone .success {
    transition: 0.3s;
    border-color: #78e5d5;
    color: #11A998;
}

.dropzone .error {
    transition: 0.3s;
    border-color: #e57878;
    color: red;
}

.fileInfo {
    display: flex;
    align-items: center;
}

.fileInfo .sizeCheck {
    font-size: 12px;
    color: #9c9c9c;
    font-weight: normal;
    margin-top: 15px;
}

.fileInfo .sizeFalse {
    font-size: 12px;
    font-weight: bold;
    color: orangered;
    margin-top: 15px;
}

.fileInfo button {
    border: 0;
    background: transparent;
    color: #e57878;
    margin-left: 5px;
    cursor: pointer;
}

.fileInfo button:hover {
    transition: 0.2s;
    font-weight: bold;
}

.fileInfo div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fileInfo svg {
    display: flex;
}

.container ul {
    margin-top: 20px;
}

.container ul {
    list-style: none;
}

.preview {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-right: 10px;
}