.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 1em;
}

.footer li {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer img {
    width: 80px;
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.footer img:hover {
    transform: scale(1.05);
}