.home_container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    width: 100%;
}

.home_container h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    
}

.home_container h1 span {
    color: #A0522D;
    padding: 0 0.2em;
    background-color: #222;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.911);
    border-radius: 8px;
}

.home_container p {
    margin-bottom: 24px;
    color: gray;
    text-align: center;
    font-size: 1rem;
}

.home_container img {
    width: 80%;
    max-width: 400px;
    margin: 32px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .home_container h1 {
        font-size: 2rem;
    }

    .home_container p {
        font-size: 0.9rem;
    }

    .home_container img {
        width: 100%;
    }
}