.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 1.6vw;
}

.footer svg {
    color: white;
    cursor: pointer;
}

.footer li {
    list-style: none;
}

.footer svg:hover {
    color: #D2A679;
}