.newitem_container {
    width: 450px;
    padding: 3em;
    border: 1px solid rgba(0, 0, 0, 0.274);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: 5vh auto;
    border-radius: 10px;
}

.newitem_container h1 {
    margin-bottom: 0.5em;
    text-align: center;
}

.newitem_container p {
    color: gray;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}


/* Responsividade */
@media (max-width: 768px) {
    .newitem_container {
        width: 90%;
        padding: 1.5em;
    }

    .newitem_container h1 {
        font-size: 1.6rem;
    }

    .newitem_container p {
        font-size: 0.85rem;
    }
}