.item_container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 100%;
    margin: 0 auto;
}

.filter {
    text-align: left;
}

.title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.title_container p {
    background-color: #222;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.title_container span {
    color: gold;
}

@media (max-width: 768px) {
    .item_container {
        width: 90%;
        padding: 1.5em;
    }

    .title_container {
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .title_container p {
        font-size: 0.85rem;
        padding: 8px;
        margin-top: 10px; /* Espaço entre os elementos */
    }
}